/* Denna fil skall innehålla din CSS kod */
body {
    margin: 0;
    background-color: rgba(150, 116, 65, 0.39);
    

}
.gridwrapper {
    display: grid;
    max-width: 100vw;
    min-height: 150vh;
    
    grid-template-areas: 
        "he he he he he he he"
        "se se se se se se se"
        "se se se se se se se"
        "sg sg sg sg sg sg sg"
        "sg sg sg sg sg sg sg"
        "sg sg sg sg sg sg sg"
        "sg sg sg sg sg sg sg"
        "ft ft ft ft ft ft ft"
        ;
    grid-template-columns: repeat(7*1fr);
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
}

.header {
    grid-area: he;
    font-family: 'Orbitron', sans-serif;
    height: 200px;
    display: grid;
    grid-template-areas:
    "lg ha mp d1 d2 d3";
    grid-template-columns: repeat(6*1fr);
    grid-template-rows: 1fr;
}

.rubrik {
    grid-area: ha;
    background-color:rgba(150, 116, 65, 0.39);
    font-size: 25px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-right: 50px;
}

#logo {
    grid-area: lg;
    padding-left: 70px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color:rgba(150, 116, 65, 0.39);
    margin-bottom: 30px;       
    }

#logotyp {
    height: 120px;
    width: auto;
   margin-right: 40px;
}

#midlepart {
    grid-area: mp;
    padding-left: 70px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color:rgba(150, 116, 65, 0.39);
    margin-bottom: 30px;
}
#div1 {
    grid-area: d1;
    padding-left: 70px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color:rgba(150, 116, 65, 0.39);
    margin-bottom: 30px;
    
}

#div2 {
    grid-area: d2;
   padding-top: 50px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color:rgba(150, 116, 65, 0.39);
    margin-bottom: 30px;
}

#div3 {
    grid-area: d3;
   padding-top: 50px;
   padding-right: 70px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color:rgba(150, 116, 65, 0.39);
    margin-bottom: 30px;
}

.bild {
    grid-area: se;
    max-width: 100%;
}

.storGridWrapper {
    grid-area: sg;
    display: grid;
    grid-template-areas: 
    "a1 a1 a1 a1 a1 a1"
    "a2 a2 a3 a3 a4 a4"
    "a2 a2 a3 a3 a4 a4"
    "a2 a2 a3 a3 a4 a4";
}

.article1 {
    grid-area: a1;
    text-align: center;
    padding-top: 30px;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
    font-size: 110%;
}

.article2 {
    grid-area: a2;
    text-align: center; 
    padding: 40px;   
}

.article3 {
    grid-area: a3;
    text-align: center; 
    padding: 40px;     
}

.article4 {
    grid-area: a4;
    text-align: center;
    padding: 40px;   
}




.info {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 115%;
}

.ur {
    font-family: 'Poiret One', cursive;
    font-size: 25px;   
}

.infor {
    padding-left: 50px;
    padding-top: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 19px;
}
.allinfo {
    font-family: 'Poiret One', cursive;
    padding-left: 50px;
    font-size: 15px;
}

.link {
    color: black;
    text-decoration: none;
}



.link:hover {
    text-decoration: underline;
}

.karta {
    display: block;
   width: 200%vw;
   height: 400px;
   
    
}

#meny {
    width: 1000px;
    height: auto;
  padding-bottom: 10px;
    align-items: center;
}

.footer {
    grid-area: ft;
    display: grid;
    grid-template-columns: repeat(6* 1fr);
    grid-template-rows: 1fr;
    background-color: rgba(145, 110, 51, 0.507);

    grid-template-areas: 
    "dv1 dv2 dv3 dv4";
}


.knapp {
    height: 50px;
    width: auto;
    background-color: rgba(145, 110, 51, 0.507);
    margin-bottom: 300px;
}


.textmeny {
    color: black;
    text-decoration: none; 
}

.textmeny:hover {
    text-decoration: underline;
}


#bokabord {
    margin-bottom: 290px;
}
/*background-color: rgba(150, 116, 65, 0.39);
