/* Denna fil skall innehålla din CSS kod */
body {
    margin: 0;
    background-color: rgba(226, 175, 98, 0.39);
}
.gridwrapper {
    display: grid;
    width: 100vw;
    height: 150vh;
    
    grid-template-areas: 
        "he he he he d1 d2"
        "se se se se se se"
        "se se se se se se"
        "a1 a1 a1 a1 a1 a1"
        "a2 a2 a3 a3 a4 a4"
        "a2 a2 a3 a3 a4 a4"
        "ft ft ft ft ft ft"
        ;
    grid-template-columns: repeat(6*1fr);
    grid-template-rows: repeat(7*1fr);
}

.header {
    font-family: 'League Script', cursive;
    font-style: italic;
    grid-area: he;
    padding: 30px;
}

#div1 {
    grid-area: d1;
    padding: 30px;
    font-family: 'Inconsolata', monospace;
    font-family: 'League Script', cursive;
    text-align: center;
}

#div2 {
    grid-area: d2;
    padding: 30px;
    font-family: 'Inconsolata', monospace;
    font-family: 'League Script', cursive;
    text-align: center;
}

.bild {
    grid-area: se;
    max-width: 100px;
}

.article1 {
    grid-area: a1;
}

.article2 {
    grid-area: a2;
}

.article3 {
    grid-area: a3;
}

.article4 {
    grid-area: a4;
}

.footer {
    grid-area: ft;
}